<section class="{{class}} promo">
    <div class="container">
        <div class="promo__wrapper">
            <h1 class="promo__header"><span class="colored-text">Lorem ipsum</span> dolor sit ametconsectetur <span class="colored-text">adipiscing</span></h1>
            <include
                src="components/privileges/privileges.html"
                locals='{
                    "class": "promo__content"
                }'
            />
            </include>
            <div class="promo__buttons">
                <a href="#" class="promo__button button button--theme-primary">Заказать</a>
                <a href="#" class="promo__button button button--theme-outline">Подробнее</a>
            </div>
        </div>
    </div>
</section>