<div class="{{class}} ordering-steps">
    <ul class="ordering-steps__list">
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/src/assets/icons/search.svg#search"></use>
                </svg>
            </div>
            <p class="ordering-steps__description" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/src/assets/icons/percent.svg#percent"></use>
                </svg>
            </div>
            <p class="ordering-steps__description" title="Сonsecteturadipiscing elit">Сonsecteturadipiscing elit</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/src/assets/icons/file.svg#file"></use>
                </svg>
            </div>
            <p class="ordering-steps__description" title="Sed do eiusmod tempor">Sed do eiusmod tempor</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/src/assets/icons/message.svg#message"></use>
                </svg>
            </div>
            <p class="ordering-steps__description" title="Esse cillum doloreeu fugiat">Esse cillum doloreeu fugiat</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/src/assets/icons/money.svg#money"></use>
                </svg>
            </div>
            <p class="ordering-steps__description" title="Excepteur sint occaecat cupidatat non proident">Excepteur sint occaecat cupidatat non proident</p>
        </li>
    </ul>
</div>