<div class="{{class}} ordering-steps">
    <ul class="ordering-steps__list">
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="assets/__spritemap#sprite-search"></use>
                </svg>
            </div>
            <p class="ordering-steps__description">Lorem ipsum dolor sit amet</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="assets/__spritemap#sprite-percent"></use>
                </svg>
            </div>
            <p class="ordering-steps__description">Сonsecteturadipiscing elit</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/assets/__spritemap#sprite-file"></use>
                </svg>
            </div>
            <p class="ordering-steps__description">Sed do eiusmod tempor</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/assets/__spritemap#sprite-message"></use>
                </svg>
            </div>
            <p class="ordering-steps__description">Esse cillum doloreeu fugiat</p>
        </li>
        <li class="ordering-steps__item">
            <div class="ordering-steps__icon-wrapper">
                <svg class="ordering-steps__icon">
                    <use xlink:href="/assets/__spritemap#sprite-money"></use>
                </svg>
            </div>
            <p class="ordering-steps__description">Excepteur sint occaecat cupidatat non proident</p>
        </li>
    </ul>
</div>