<nav class="{{class}} navigation">
    <button class="navigation__burger-button">
        <svg class="navigation__icon navigation__icon--open">
            <use xlink:href="/__spritemap#sprite-burger"></use>
        </svg>
        <svg class="navigation__icon navigation__icon--close">
            <use xlink:href="/__spritemap#sprite-close"></use>
        </svg>
    </button>
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="#" class="navigation__link active">Бизнес</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">О нас</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Цены</a>
        </li>
        <li class="navigation__item">
            <a href="#" class="navigation__link">Оформить заказ</a>
        </li>
    </ul>
</nav>