<div class="{{class}} payments">
    <ul class="payments__list">
        <li class="payments__item">
            <svg class="payments__icon">
                <use xlink:href="/__spritemap#sprite-payments-qiwi"></use>
            </svg>
            Qiwi wallet
        </li>
        <li class="payments__item">
            <svg class="payments__icon">
                <use xlink:href="/__spritemap#sprite-payments-ym"></use>
            </svg>
            Yandex Money
        </li>
        <li class="payments__item">
            <svg class="payments__icon">
                <use xlink:href="/__spritemap#sprite-payments-wm"></use>
            </svg>
            Web Money
        </li>
    </ul>
</div>