<div class="{{class}} payments">
    <ul class="payments__list">
        <li class="payments__item">
            <svg class="payments__icon">
                <use xlink:href="/src/assets/icons/payments-qiwi.svg#payments-qiwi"></use>
            </svg>
            Qiwi wallet
        </li>
        <li class="payments__item">
            <svg class="payments__icon">
                <use xlink:href="/src/assets/icons/payments-ym.svg#payments-ym"></use>
            </svg>
            Yandex Money
        </li>
        <li class="payments__item">
            <svg class="payments__icon">
                <use xlink:href="/src/assets/icons/payments-wm.svg#payments-wm"></use>
            </svg>
            Web Money
        </li>
    </ul>
</div>